# Git
.git
.github
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/

# Tests
tests/
pytest.ini
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# Documentation
docs/
README.md

# CI/CD
.github/
